.caixinha{
 display: flex;
 flex-direction: column;

 background-color: #fff;
 border: 1px solid #cdcdcd;

 max-width: 190px;
 width: 190px;
 height: 210px;

 padding: 10px;
 align-items: center;
 justify-content: space-around;
 border-radius: 12px;
}

.caixinha:hover{
  background-color: #cdcdcd;
}

.titulo{
  font-size: 14px;
  font-weight: 400;
  font-family: sans-serif;
}

.texto{
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
}

.container{
  display: flex;
  padding: 10px;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.topBar{
  display: flex;
  width: 100vw;
  height: 60px;
  background-color: #fff;
  padding: 10px;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
}